@font-face {font-family: DBHeavent;src: url(file:///android_asset/fonts/db_heavent_regular.ttf);}
p{text-align:justify!important;}
body{margin:20px!important;font-family: DBHeavent !important;font-size: 16pt !important;word-break: break-word; color: #c9c6cd !important;}
.headline-text{color: #a8a4ac !important;}
.text-color-norm{color: #353239 !important;}