@font-face {font-family: DBHeavent;src: url(file:///android_asset/fonts/db_heavent_regular.ttf);}
p{text-align:justify!important;}
body{margin:20px!important;font-family: DBHeavent !important;font-size: 14pt !important;word-break: break-word;}