<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android" xmlns:app="http://schemas.android.com/apk/res-auto" xmlns:aapt="http://schemas.android.com/aapt" orientation="vertical" background="#f5f3f6" layout_width="match_parent" layout_height="match_parent">
    <include id="@+id/toolbar" layout="@layout/2131493731"/>
    <ScrollView layout_width="match_parent" layout_height="wrap_content">
        <androidx.constraintlayout.widget.ConstraintLayout layout_width="match_parent" layout_height="wrap_content">
            <TextView id="@+id/tv_loan_information_title" background="#f5f3f6" paddingTop="16dp" paddingBottom="8dp" layout_width="match_parent" layout_height="wrap_content" text="@string/hml_review_confirmation_loan_information_section" paddingStart="16dp" NOT_FOUND_0x1c="0" style="@style/2131820996"/>
            <View id="@+id/v_shadow_loan_information_container" background="@drawable/shape_shadow" layout_width="match_parent" layout_height="1dp" NOT_FOUND_0x1b="@+id/tv_loan_information_title"/>
            <LinearLayout orientation="vertical" id="@+id/ll_loan_information_container" background="#ffffff" layout_width="match_parent" layout_height="wrap_content" NOT_FOUND_0x1b="@+id/v_shadow_loan_information_container"/>
            <TextView id="@+id/tv_tax_fees_title" paddingTop="16dp" paddingBottom="8dp" visibility="gone" layout_width="match_parent" layout_height="wrap_content" text="@string/hml_business_owner_loan_review_tax_fees_title" textAllCaps="true" paddingStart="16dp" NOT_FOUND_0x1b="@+id/ll_loan_information_container" style="@style/2131820996"/>
            <LinearLayout orientation="vertical" id="@+id/ll_tax_fees_container" background="#ffffff" visibility="gone" layout_width="match_parent" layout_height="wrap_content" NOT_FOUND_0x1b="@+id/tv_tax_fees_title"/>
            <androidx.constraintlayout.widget.ConstraintLayout id="@+id/cl_net_amount_group" background="#ffffff" visibility="gone" layout_width="match_parent" layout_height="wrap_content" layout_marginTop="8dp" NOT_FOUND_0x1b="@+id/ll_tax_fees_container">
                <TextView id="@+id/tv_net_amount_title" layout_width="0dp" layout_height="wrap_content" layout_marginTop="24dp" text="@string/hml_business_owner_loan_review_net_amount" layout_marginStart="16dp" layout_marginEnd="8dp" NOT_FOUND_0x17="@+id/tv_net_amount" NOT_FOUND_0x18="0" NOT_FOUND_0x1a="0" NOT_FOUND_0x1c="0" style="@style/2131821014"/>
                <TextView gravity="end" id="@+id/tv_net_amount" layout_width="wrap_content" layout_height="wrap_content" layout_marginTop="8dp" layout_marginEnd="8dp" NOT_FOUND_0x15="@+id/tv_net_amount_title" NOT_FOUND_0x16="0" style="@style/2131821062"/>
                <Space layout_width="wrap_content" layout_height="16dp" NOT_FOUND_0x1b="@+id/tv_net_amount_title"/>
            </androidx.constraintlayout.widget.ConstraintLayout>
            <TextView id="@+id/tv_account_information_title" paddingTop="16dp" paddingBottom="8dp" layout_width="match_parent" layout_height="wrap_content" text="@string/hml_review_confirmation_account_information_section" paddingStart="16dp" NOT_FOUND_0x1b="@+id/cl_net_amount_group" style="@style/2131820996"/>
            <LinearLayout orientation="vertical" id="@+id/ll_accounts_container" background="#ffffff" layout_width="match_parent" layout_height="wrap_content" NOT_FOUND_0x1b="@+id/tv_account_information_title"/>
            <androidx.constraintlayout.widget.ConstraintLayout id="@+id/cl_repayment_date_group" background="#ffffff" layout_width="match_parent" layout_height="wrap_content" layout_marginTop="24dp" NOT_FOUND_0x1b="@+id/ll_accounts_container">
                <TextView id="@+id/tv_your_repayment_date_title" layout_width="wrap_content" layout_height="wrap_content" layout_marginTop="24dp" text="@string/hml_review_confirmation_repayment_date_title" layout_marginStart="16dp" NOT_FOUND_0x18="0" NOT_FOUND_0x1a="0" NOT_FOUND_0x1c="0" style="@style/2131821008"/>
                <ImageView id="@+id/calendar_icon" layout_width="wrap_content" layout_height="wrap_content" layout_marginTop="16dp" layout_marginBottom="24dp" src="@drawable/calendar" layout_marginStart="8dp" NOT_FOUND_0x15="0" NOT_FOUND_0x1a="@+id/tv_your_repayment_date_title" NOT_FOUND_0x1b="@+id/tv_your_repayment_date_title"/>
                <TextView id="@+id/tv_repayment_date" layout_width="wrap_content" layout_height="wrap_content" layout_marginTop="12dp" layout_marginStart="10dp" NOT_FOUND_0x19="@+id/calendar_icon" NOT_FOUND_0x1b="@+id/tv_your_repayment_date_title" style="@style/2131821062"/>
            </androidx.constraintlayout.widget.ConstraintLayout>
            <androidx.constraintlayout.widget.ConstraintLayout id="@+id/cl_estatement_group" background="#ffffff" layout_width="match_parent" layout_height="wrap_content" layout_marginTop="24dp" NOT_FOUND_0x1b="@+id/cl_repayment_date_group">
                <TextView id="@+id/tv_estatement_title" layout_width="wrap_content" layout_height="wrap_content" layout_marginTop="24dp" text="@string/hml_review_confirmation_estatement_title" layout_marginStart="16dp" NOT_FOUND_0x18="0" NOT_FOUND_0x1a="0" NOT_FOUND_0x1c="0" style="@style/2131821008"/>
                <TextView id="@+id/tv_estatement" layout_width="wrap_content" layout_height="wrap_content" layout_marginTop="8dp" layout_marginBottom="16dp" NOT_FOUND_0x1a="@+id/tv_estatement_title" NOT_FOUND_0x1b="@+id/tv_estatement_title" style="@style/2131821062"/>
                <Space layout_width="wrap_content" layout_height="16dp" NOT_FOUND_0x1b="@+id/tv_estatement"/>
            </androidx.constraintlayout.widget.ConstraintLayout>
            <androidx.constraintlayout.widget.ConstraintLayout id="@+id/cl_terms_conditions" background="#f5f3f6" layout_width="match_parent" layout_height="wrap_content" NOT_FOUND_0x1b="@+id/cl_estatement_group">
                <TextView id="@+id/tv_terms_and_conditions_label" padding="16dp" layout_width="0dp" layout_height="wrap_content" text="@string/hml_review_confirmation_terms_conditions_title" textAllCaps="true" NOT_FOUND_0x16="0" NOT_FOUND_0x1a="0" style="@style/2131820996"/>
                <View id="@+id/vw_terms_and_conditions_bg" background="@drawable/bg_white_with_border" layout_width="0dp" layout_height="0dp" NOT_FOUND_0x15="@+id/sp_terms_and_conditions_section_bottom" NOT_FOUND_0x16="0" NOT_FOUND_0x1a="0" NOT_FOUND_0x1b="@+id/tv_terms_and_conditions_label"/>
                <CheckBox id="@+id/cb_terms_and_conditions" layout_width="wrap_content" layout_height="wrap_content" button="@drawable/terms_checkbox_selector" layout_marginStart="16dp" NOT_FOUND_0x1a="0" NOT_FOUND_0x1c="@+id/tv_terms_and_conditions" style="@style/2131820869"/>
                <TextView id="@+id/tv_terms_and_conditions" layout_width="0dp" layout_height="wrap_content" layout_marginTop="16dp" includeFontPadding="false" layout_marginStart="16dp" layout_marginEnd="16dp" NOT_FOUND_0x16="0" NOT_FOUND_0x19="@+id/cb_terms_and_conditions" NOT_FOUND_0x1b="@+id/tv_terms_and_conditions_label" style="@style/2131820869"/>
                <Space id="@+id/sp_terms_and_conditions_section_bottom" layout_width="0dp" layout_height="16dp" NOT_FOUND_0x1b="@+id/tv_terms_and_conditions"/>
            </androidx.constraintlayout.widget.ConstraintLayout>
            <TextView id="@+id/tv_attention_title" paddingTop="16dp" paddingBottom="8dp" layout_width="match_parent" layout_height="wrap_content" text="@string/hml_review_confirmation_attention_header" paddingStart="16dp" NOT_FOUND_0x1b="@+id/cl_terms_conditions" style="@style/2131820996"/>
            <com.scb.phone.view.custom.common.ThaiTextView id="@+id/tv_attention_description" background="#ffffff" padding="16dp" layout_width="match_parent" layout_height="wrap_content" layout_marginTop="16dp" layout_marginBottom="16dp" NOT_FOUND_0x1b="@+id/tv_attention_title" style="@style/2131821060"/>
            <Button enabled="false" id="@+id/bt_accept" layout_width="match_parent" layout_height="50dp" layout_marginTop="26dp" layout_marginBottom="56dp" text="@string/hml_review_confirmation_accept_button" layout_marginStart="20dp" layout_marginEnd="20dp" NOT_FOUND_0x15="0" NOT_FOUND_0x1b="@+id/tv_attention_description" style="@style/2131820837"/>
        </androidx.constraintlayout.widget.ConstraintLayout>
    </ScrollView>
</LinearLayout>
